div, li, ul, body, a {
  font: inherit;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  font-size: inherit;
  color: inherit;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.article-line {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

a {
  /*display: block;*/
}

.header-list >  li {
  float: left;
  padding: 20px;
}

.group::after {
  display: block;
  content: "";
  clear: both;
}

.title {
  width: 500px;
  float: left;
}

.details {
  float: right;
}

.header-list > li:first-child {
  width: 500px;
  padding-left: 10px;
}

.header {
  width: 900px;
  margin: auto;
  padding: 10px;
}

.grid {
  width: 900px;
  margin: auto;
}
