div, li, ul, body, a {
  font: inherit;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  background: transparent;
  color: inherit;
}

body {
  font-size: inherit;
  text-align: inherit;
  font-family: sans-serif;
}

.info {
  font-size: 12px;
}

ul {
  list-style: none;
}

.article-line {
  /*padding: 10px;*/
  border-bottom: 1px solid #ccc;
}

.header-list > li {
  float: left;
  border-right: 1px solid #ccc;
  /*padding: 20px;*/
}

.load-more {
  margin: auto;
  display: block;
  background: linear-gradient(#B90B2C, #7E2633);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.load-more:hover {
  background: linear-gradient(#7E2633, #B90B2C);
}

body {
  padding-bottom: 80px;
}

.header {

  margin: auto;
  background: linear-gradient(#B90B2C, #7E2633);
  color: #fff;
  font-weight: bold;
}

.header-list a {
  padding: 20px;
  display: block;
}

.header-list li:nth-child(2) a {
  padding: 20px 59px;
}

.header-list li:nth-child(2) a:hover {
  background: linear-gradient(#7E2633, #B90B2C);
}

.header-list li:nth-child(3) a {
  padding: 20px 25px;
}

.header-list li:nth-child(3) a:hover {
  background: linear-gradient(#7E2633, #B90B2C);
}

.header-list li:nth-child(2) {
  /*width: 170px;*/
  width: 18.9%;
}

.header-list li:nth-child(3) {
  width: 11.1%;
}

.header-list li:nth-child(4) {
  border: 0px;
  width: 17%;
}

.header-list li:nth-child(4) a {
  padding: 20px 38px;
  border-right: 0px;
}

.header-list li:nth-child(4) a:hover {
  background: linear-gradient(#7E2633, #B90B2C);
}


.group::after {
  display: block;
  content: "";
  clear: both;
}

.words {
  width: 8.9%;
}

.content {
  width: 900px;
  margin: auto;
}

.details .title {
  width: 50%;
  text-align: left;
}

.pic {
  height: 32px;
  float: left;
  margin-right: 5px;
  box-shadow: 0px 0px 5px #888888;

}
.details {
  float: left;
  width: 100%;
  background: #F8F8F8;
}

.details .author {
  /*width: 150px;*/
  width: 16.7%;
  text-align: left;
}

.details a {
  color: #125688;
  font-weight: bold;
}

.time-ago {
  width: 15.05%;
}

.details > div {
  float: left;
  text-align: center;
  border-left: 1px solid #ccc;
  padding: 10px;
  height: 28px;
}

.header-list > li:first-child {
  /*width: 461px;*/
  width: 51.2%;
  padding-left: 10px;
}



.grid {
  width: 100%;
}

.grid > li {
  /*border-left: 1px solid #ccc;*/
  border-right: 1px solid #ccc;
}

.grid li:nth-child(2n) .details {
  background: #F4F4F4;
}
