div, li, ul, body, a {
  font: inherit;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  background: transparent;
  color: inherit;
}

body {
  font-size: inherit;
  text-align: inherit;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.article-line {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

a {
  /*display: block;*/
}

.header-list > li {
  float: left;
  border-right: 1px solid #fff;
  /*padding: 20px;*/
}

.load-more {
  margin: auto;
  display: block;
  background: green;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;

}

body {
  padding-bottom: 80px;
}

.header-list a {
  padding: 20px;
  display: block;
}

.header-list li:nth-child(2) a {
  padding: 20px 50px;
}

.group::after {
  display: block;
  content: "";
  clear: both;
}

.words {
  width: 80px;
}

.title {
  width: 500px;
  float: left;
}

.author {
  width: 150px;
}

.details {
  float: left;
}

.details > div {
  float: left;
  text-align: center;
}

.header-list > li:first-child {
  width: 500px;
  padding-left: 10px;
}

.header {
  width: 900px;
  margin: auto;
  background: #970B23;
  color: #fff;
}

.grid {
  width: 900px;
  margin: auto;
}
